%p
  You have
  = pluralize(@trap_alerts.size, 'trap that requires', 'traps that require')
  attention.

%ul
  - @trap_alerts.each do |trap_id, alerts|
    %li
      = link_to trap_id, trap_url(trap_id)
      \-
      = alerts.join(', ').capitalize
