- content_for :heading do
  .masthead
    .container
      %h1= "Trap ##{@trap.id}"
      %p
        A summary of information about this trap.

.container.text-section
  %h2 Bait level history
  = bait_level_chart(@report_chunks)
  %h2 Battery level history
  = battery_level_chart(@report_chunks)
