.masthead.masthead-thick
  .container.masthead-inner
    .row
      .col-sm-8.masthead-image
        %img{src: image_url("masthead_rat.png")}
      .col-sm-4.masthead-text
        %p.masthead-heading
          RatTrace
        %p
          An intelligent rat trap monitoring solution for the next generation of
          pest control.

.container.text-section
  %p
    Lorem ipsum dolor sit amet, veniam alterum molestiae cu eam. Mel petentium consequat consetetur eu, eum in primis aliquip sapientem. Prompta apeirian inciderint nec at, ex mazim tollit facete nec, vis eu solum nobis contentiones. Ex modus causae prompta eum.

  %p
    Mutat maiorum evertitur et cum, mel simul honestatis ad. Inani congue legimus ei eos. Ei has graeci intellegat, at has minim consulatu constituam, possit albucius phaedrum mel ne. Ad vis feugait iudicabit, scripta consectetuer in his. Cu quod dictas mel, everti detracto gloriatur per ex. Ius nulla graeci consequuntur et, qui te nominavi dignissim dissentias.

  %p
    Pro ne augue inermis. Eu pro laoreet voluptatum, duo cu delectus definitionem, an nec suas tota. Brute mazim eu nec, semper eirmod contentiones duo in. Ei dicunt placerat nam. Dicant aliquando mediocritatem ei eam. Primis iracundia per in.

  %p
    Et sumo verear mei, mei no brute mundi interpretaris. Eum ad nibh quidam. Elitr cotidieque eu sed, no vix enim perpetua, te nibh clita nominavi qui. No impetus accusata sed, amet liber qui ex, corpora postulant et vix.
