- content_for :heading do
  .masthead.masthead-thick
    .container.masthead-inner
      .row
        .col-sm-8.masthead-image
          %img{src: image_url("masthead_rat.png")}
        .col-sm-4.masthead-text
          %p.masthead-heading
            RatTrace
          %p
            An intelligent rat trap monitoring solution for the next generation of
            pest control.

.container.text-section
  %p
    Rats, especially Norway rats and roof rats, are nasty pests that
    spread disease,
    contaminate food and water,
    consume food supplies, and
    cause property damage.
  %p
    Pest control experts do a great job of managing rodent populations through the deployment of rat bait traps. Unfortunately, checking to see which traps need to have their bait replenished for continued operation is a time-consuming chore - someone has to physically travel to the location of each trap and visually inspect the bait.
    %em This is highly inefficient.
  %p
    RatTrace improves operational efficiency for pest control companies by enabling remote monitoring of bait stations. A small electronic device is retrofitted to existing traps, and this device is able to transmit trap status data wirelessly to a central server. Forget about inspecting traps manually, RatTrace can
    %em tell you
    which bait stations require servicing!
