@import "bootstrap-sprockets";
@import "bootstrap";

// http://www.google.com/design/spec/style/color.html#color-color-palette
// ("Red" and "Blue Grey")

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #263238;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

a {
  color: #F44336;
}

.alert {
  margin-top: 20px;
}

.wrapper {
  background-color: #ECEFF1;
}

.navbar {
  border: none;
  background: none;
  margin: 0;

  .navbar-header-container {
    padding-left: 0;
  }
}

.masthead {
  color: #FFEBEE;
  background-color: #F44336;
  background: linear-gradient(#E53935, #EF5350);
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 24px;
}

.masthead-thick {
  height: 350px;
  line-height: 1.3em;

  .masthead-inner {
    @media(min-width: $screen-sm-min) {
      padding-right: 200px;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }

    @media(max-width: $screen-xs-max) {
      .masthead-text {
        padding-top: 20px;
        text-align: center;
        font-size: 0.8em;
        line-height: 1.2em;
      }
    }

    @media(max-width: $screen-xs-max) {
      .masthead-image img {
        width: 250px;
      }
    }

    .masthead-heading {
      font-size: 1.2em;
      font-weight: 500;
    }

    .masthead-image {
      text-align: center;
    }
  }
}

.text-section-no-flowtype {
  padding-top: 2.0em;
  padding-bottom: 2.0em;
}

.text-section {
  @extend .text-section-no-flowtype;
}

.footer {
  color: #90A4AE;
  font-size: 0.95em;
  width: 100%;
  padding-top: 36px;
  padding-bottom: 36px;
  bottom: 0;

  .link-list-heading {
    text-transform: uppercase;
    font-weight: 400;
    color: white;
  }

  .link-list {
    list-style: none;
    padding: 0;
  }

  a {
    color: #CFD8DC;
  }
}
